.main {
  // contains nav, content area and passive items
  width: 454px + 1018;
  float: left;
}



// logo ifr
nav[role='main'] {
  margin: 0 0 1em;
  font-size: 1.2em;
  text-align: center;
  h1 {
    width: 503px;
    height: 127px;
    margin: .25em 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../img/isaacs-cheatsheet-logo.png) no-repeat 50% 0;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .5em;
    a {
      color: #B09159;
      text-shadow: 0 3px 0 #342616, 0 2px 0 #342616, 0 1px 0 #342616;
      text-decoration: none;
      &:hover {
        color: #ff0;
      }
    }
  }
}


#modal {
  display: none;

  font: normal 2em/1.2 'Delius Unicase', verdana, sans-serif;

  color: #fff;
  background: rgba(0,0,0,.85);
  box-shadow: 0 0 40px #000;
  border: 2px solid #fff;
  border-radius: 1em 0 1em 1em;

  padding: .5em 2em 1em;

  position: absolute;
  z-index: 30000;
  top: 160px;
  left: 260px;
  width: 450px;
  h2 {
    margin-bottom: 0;
    font-size: .6em;
  }
  ol {
    list-style-position:inside; 
    margin-top: 0;   
    padding: 0;
  }
  li {
    // width: 100%;
    margin: .5em 0 .2em;
  }
  i {
    font-size: .6em;
    display: block;
    color: $yellow;
    font-style: normal;
  }
  .close {
    margin: 0;
    padding: 0 .5em;
    position: absolute;
    top: -.65em;
    right: -.65em;
    text-align: center;
    // left: 0px;
    background: #000;
    border: 2px solid white;
    border-radius: 1em;
    font: bold .5em/1.5em sans-serif;
    cursor: default;
    color: #fff;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}
#nag {
  font: normal 10px/1 verdana;
}



.content p, .content ul {
  // need to be very specific for some reason
  margin: .25em 0;
}

.content {
  position: relative;
  float: right;
  width: 1000px;
  height: 710px; //web
  margin: 0 24px 0 0;
  border: 2px dashed rgba(255,255,255, .3);
  border-top-width: 0;
  border-radius: 0  0 2em 2em;
  z-index: 1000;
  background: url(../img/blood.png) no-repeat 50% 0;
  overflow-y: auto;
  h3 {
    font-size: 1.25em;
    margin: .1em 0 0;
    color: #fff;
  }
  section[role='main'] {
    padding: 0 4em;
    overflow: hidden;
    font-size: 1.1em;
    line-height: 1.3;
    text-align: left;
    h2,h3,h4,h5,h6 {
      font-weight: normal;
      color: #fff;
      margin: 1.5em 0 0;
      &:first-child {
        margin-top: 0;
      }
    }
    article {
      border-bottom: 1px solid rgba(0,0,0,.3);
      padding-bottom: 1em;
      margin-bottom: 1.5em;
      position: relative;
      h2,h3,h4,h5,h6 {
        margin-top: 0;
      }
      &:last-child {
        border-bottom-width: 0;
      }
    }
    .date {
      margin-top: 0;
      // font-size: .7em;
      color: $ltbrown;
    }
    .big {
      max-width: 750px;
      display: block;
      margin: 1em auto;
      box-shadow: 0 20px 20px -10px rgba(0,0,0,.4);
    }
  }
}

#posts {
  h3 {
    margin: 0;
  }
}
// #post-pagination {
//   border-top: 1px solid rgba(0,0,0,.4);
//   padding-top: 1em;
// }
#social {
  a {
    img {
      // border: 6px solid darken($brown, 5%);
      box-shadow: 0 6px 4px -4px rgba(0,0,0,.4);
      border-radius: 3px;
      margin: .25em 1em .25em 0;
      border: 1px solid darken($brown, 5%);
      &:hover {
        border-color: $ltbrown;
      }
    }
  }
  li {
    margin: .5em 0;
  }
}
#rddtpics {
  // padding-bottom: 2em;
}


.centered {
  text-align: center;
}

.column {
  overflow: hidden;
  float: left;
  // margin: 0 1%;
  padding: 0 2em;
  img {
    max-width: 100%;
  }
  ul {
    padding: 0 0 0 1.5em;
  }
  li {
    margin-bottom: .25em;
  }
}

.onehalf, .half, .two {
  width: 50%;
}
.onethird {
  width: 33%;
}
.twothirds {
  width: 66%;
}
.onequarter {
  width: 25%;
}
.threequarters {
  width: 75%;
}


.fluid { 
  // adjustments for fluid app
  .content {
    height: 760px; //fluid.app
  }
  .items {
    padding-top: 2px;
  }
}


#deadbird { height: 450px; } 
.twitterSearchTitle { display: none; }
.twitterSearchTweet { padding-bottom: 1em }
.twitterSearchUser { font-weight: bold }

footer {
  margin: 1.5em 2em 0;
  padding-top: 1em;
  border-top: 1px solid rgba(0,0,0,.3);
  text-align: center;
  clear: left;
  a {
    white-space: nowrap;
  }
}