$yellow: #ffb;
$brown: darken(rgb(77,62,50),4%);
$ltbrown: lighten(rgb(77,62,50),35%);
$red: #f00;
$divider: transparentize(#000,.65);

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.slats {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0.3em 0 0.3em;
    text-indent: 0;
    list-style-type: none;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    font-size: 8px;
    position: relative;
    h2 {
      font-size: 1.7em;
      margin: 0;
      padding: 0 .4em;
      color: $ltbrown;
      text-shadow: 0 -2px 0 #000;
    }
    h3 {
      font-size: 1em;
      font-weight: bold;
      line-height: 1;
      margin: 0;
      padding: 0 0 2px;
      color: #fff;
    }
    .icon {
      width: 25px;
      height: 20px;
      float: left;
      margin: 0;
    }
    img {
      margin: 0 auto;
      display: block;
      max-width: 25px;
      max-height: 25px;
      max-height: 20px;
    }
    p {
      line-height: 1;
    }
    h3, p {
      margin: 0 0 0 29px;
    }
    &:hover {
      box-shadow: 0 0 0 4px rgba(0,0,0,.2);
      background: rgba(0,0,0,.2);
      border-radius: 2px;
      
      $deets-brown: darken($brown, 10%);
      $deets-top: -9px;
      $border-color: rgba(255,255,255,.5);

      p.details.hidden {
        background: $deets-brown;
        border: 1px solid $border-color;
        box-shadow: 7px 7px 0 rgba(0,0,0,.6);
        clip: auto !important;
        color: $yellow;
        display: inline-block !important;
        font-size: 1.2em;
        left: -27px;
        line-height: 1.2;
        padding: .9em;
        top: 28px;
        visibility: visible;
        white-space: pre-line;
        max-width: 145px;
        z-index: 100;

        &:before {
          border-color: transparent transparent $border-color transparent;
          border-style: solid;
          border-width: 0 5px 8px 5px;
          content: '';
          display: block;
          height: 0;
          left: 5px;
          position: absolute;
          top: $deets-top;
          width: 0;
          z-index: 101;
        }
        &:after {
          border-color: transparent transparent $deets-brown transparent;
          border-style: solid;
          border-width: 0 5px 8px 5px;
          content: '';
          display: block;
          height: 0;
          left: 5px;
          position: absolute;
          top: $deets-top + 2px;
          width: 0;
          z-index: 102;
        }

      }

    }
  }
}


.activated, .main, .tarot, .trinkets, .pills, .gallery {
  float: left;
  //overflow: hidden;
  position: relative;
}
.activated, .item, .tarot, .trinkets, .pills, .gallery {
  h2 {
    position: absolute;
    margin: 0;
    padding: 0 0 0 .5em;
  }
  ul {
    position: relative;
    z-index: 6;
    font-size: 0;
    &:before {
      height: 18px;
      content: '';
      display: inline-block;
    }
  }
}

.tarot {
  @extend .clearfix;
}

.main {
  .item {
    padding: 0px 15px 0 0;
    ul {
      &:before {
        width: 10%;
      }
    }
    li {
      width: 10%;
      // &:first-child {
      //   width: 20%;
      //   padding-left: 10%;
      // }
    }
  }
  &:after {
    // draw dotted line at bottom right corner
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 1px dashed $divider;
    height: 180px;
    content: '';
  }  
}

.activated, .trinkets, .pills {
  padding-top: 0.3em;
  width: 442px;
  ul {
    &:before {
      width: 25%;
    }
  }
  li {
    width: 25%;
    // &:first-child {
    //   width: 50%;
    //   padding-left: 25%;      
    // }
  }
}

.activated, .pills {
  bottom: 0;
  border-top: 1px dashed $divider;
  margin-top: 0.3em;
}

@-webkit-keyframes pillpoppin {
   from { background-position:   0 0px; }
     to { background-position: 0 -150px; }
}
@-moz-keyframes pillpoppin {
   from { background-position:   0 0px; }
     to { background-position: 0 -150px; }
}
@-o-keyframes pillpoppin {
   from { background-position:   0 0px; }
     to { background-position: 0 -150px; }
}
@keyframes pillpoppin {
   from { background-position:   0 0px; }
     to { background-position: 0 -150px; }
}
.pills {
  .slats li {
    h3, p {
      // margin-left: 20px
    }
    .icon {
      background-image: url(../img/pills-sprite.png);
      height: 25px;
      // height: 20px;
      // width: 20px;
      // background-size: 20px 120px;
    }
    &:nth-child(6n+1) .icon {
      -webkit-animation: pillpoppin 24s steps(6) infinite;
      -moz-animation: pillpoppin 24s steps(6) infinite;
      -o-animation: pillpoppin 24s steps(6) infinite;
      animation: pillpoppin 24s steps(6) infinite;
    }
    &:nth-child(6n+2) .icon {
      -webkit-animation: pillpoppin 24s -4.1s steps(6) infinite;
      -moz-animation: pillpoppin 24s -4.1s steps(6) infinite;
      -o-animation: pillpoppin 24s -4.1s steps(6) infinite;
      animation: pillpoppin 24s -4.1s steps(6) infinite;
    }
    &:nth-child(6n+3) .icon {
      -webkit-animation: pillpoppin 24s -8s steps(6) infinite;
      -moz-animation: pillpoppin 24s -8s steps(6) infinite;
      -o-animation: pillpoppin 24s -8s steps(6) infinite;
      animation: pillpoppin 24s -8s steps(6) infinite;
    }
    &:nth-child(6n+4) .icon {
      -webkit-animation: pillpoppin 24s -12.1s steps(6) infinite;
      -moz-animation: pillpoppin 24s -12.1s steps(6) infinite;
      -o-animation: pillpoppin 24s -12.1s steps(6) infinite;
      animation: pillpoppin 24s -12.1s steps(6) infinite;
    }
    &:nth-child(6n+5) .icon {
      -webkit-animation: pillpoppin 24s -16s steps(6) infinite;
      -moz-animation: pillpoppin 24s -16s steps(6) infinite;
      -o-animation: pillpoppin 24s -16s steps(6) infinite;
      animation: pillpoppin 24s -16s steps(6) infinite;
    }
    &:nth-child(6n+6) .icon {
      -webkit-animation: pillpoppin 24s -19.8s steps(6) infinite;
      -moz-animation: pillpoppin 24s -19.8s steps(6) infinite;
      -o-animation: pillpoppin 24s -19.8s steps(6) infinite;
      animation: pillpoppin 24s -19.8s steps(6) infinite;
    }
  }
}

.tarot {
  width: 454px + 1018;
  width: 100%;
  border-top: 1px dashed $divider;
  padding-top: .3em;
  margin-top: .3em;
  ul {
    &:before {
      width: 7%;
    }
  }
  li {
    width: 7%;
    // &:first-child {
    //   width: 14%;
    //   padding-left: 7%;
    // }
  }
  .slats {
    .icon {
      width: 18px;
    }
    h3, p {
      margin: 0 0 0 19px;
    }    
  }
}
.heart, .soul {
  text-shadow:
   -1px -1px 0 #000,  
    0px  1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.heart {
  color: #a22;
}
.soul {
  color: #fff;
}