@import url(http://fonts.googleapis.com/css?family=Delius+Unicase:400,700);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: url(../img/the-binding-of-isaac-game-wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: verdana;
  color: #ffffbb;
  margin: 0;
  padding: 0;
  font-size: 62.65%;
  overflow-x: hidden; }
  body:after {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(83, 67, 54, 0.85);
    z-index: 10; }

a {
  color: #a48974; }

#wrapper {
  position: relative;
  width: 1920px;
  margin: 0 auto;
  z-index: 100; }

.screenshot {
  position: absolute;
  top: 13px;
  left: 385px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Delius Unicase', verdana, sans-serif; }

.slats {
  margin: 0;
  padding: 0; }
  .slats li {
    margin: 0;
    padding: 0.3em 0 0.3em;
    text-indent: 0;
    list-style-type: none;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    font-size: 8px; }
    .slats li h2 {
      margin: 0;
      padding: 0 1em;
      color: #a48974; }
    .slats li h3 {
      font-size: 1em;
      font-weight: bold;
      line-height: 1;
      margin: 0;
      padding: 0 0 2px;
      color: #fff; }
    .slats li .icon {
      width: 25px;
      float: left;
      margin: 0 5px 0; }
    .slats li img {
      margin: 0 auto;
      display: block;
      max-width: 25px;
      max-height: 25px;
      max-height: 20px; }
    .slats li p {
      line-height: 1; }
    .slats li h3, .slats li p {
      margin: 0 0 0 35px; }

.activated, .items, .tarot, .trinkets, .gallery {
  float: left;
  overflow: hidden;
  position: relative; }
  .activated ul, .items ul, .tarot ul, .trinkets ul, .gallery ul {
    position: relative;
    z-index: 6;
    font-size: 0; }

.content {
  position: relative;
  float: right;
  width: 1024px;
  margin-right: -1em;
  height: 710px;
  border-left: 2px dashed rgba(255, 255, 255, 0.3);
  border-right: 2px dashed rgba(255, 255, 255, 0.3);
  border-bottom: 2px dashed rgba(255, 255, 255, 0.3);
  border-radius: 0  0 2em 2em;
  text-align: center;
  padding-top: 3em;
  z-index: 1000;
  font-size: 11px; }
  .content h1 {
    padding-bottom: 1em; }
  .content .instructions {
    font-family: 'Delius Unicase', verdana, sans-serif;
    font-size: 2em;
    font-weight: normal;
    color: #fff;
    padding-bottom: 1em; }
    .content .instructions h4 {
      margin-bottom: 0;
      font-size: .6em; }
    .content .instructions ol {
      list-style-position: inside;
      margin-top: 0;
      padding: 0; }
    .content .instructions li {
      width: 100%;
      margin: .2em; }
    .content .instructions i {
      font-size: .6em;
      display: block;
      color: #ffffbb; }
  .content h5 {
    font-size: 1.25em;
    margin: .1em 0 0;
    color: #fff; }
  .content section {
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin: 0 2em 2em;
    padding: 1.75em 2em 1em;
    text-align: left;
    border-radius: 2em;
    background: rgba(0, 0, 0, 0.4); }
  .content .app {
    text-align: center; }
  .content .contact .btn {
    display: block;
    text-align: center;
    margin: 1em auto;
    width: 10em;
    padding: .5em 1em;
    background: #b00;
    border: 2px solid #000;
    color: #ffffbb;
    text-shadow: 0 -2px 0 black;
    font: bold 1em/1 "Delius Unicase", verdana, sans-serif;
    border-radius: 1em;
    box-shadow: inset 0 -3px 3px #ff8800, 0 5px 10px black;
    transition: all 150ms ease-in; }
    .content .contact .btn:hover {
      color: #fff;
      background: #b00;
      box-shadow: inset 0 -1px 4px yellow, 0 3px 5px black;
      text-shadow: 0 -1px 0 black; }

.fluid .content {
  height: 760px; }

.items {
  width: 1472px;
  float: left;
  padding: 2px 15px 0 0; }
  .items li {
    width: 10%; }
  .items:after {
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 1px dashed rgba(0, 0, 0, 0.35);
    height: 180px;
    content: ''; }

.activated, .trinkets {
  padding-top: 0.3em;
  width: 442px; }
  .activated li, .trinkets li {
    width: 32%; }

.activated {
  bottom: 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.35);
  margin-top: 0.8em; }

.tarot {
  width: 1472px;
  width: 100%;
  border-top: 1px dashed rgba(0, 0, 0, 0.35);
  padding-top: .3em;
  margin-top: .3em; }
  .tarot li {
    width: 7%; }
  .tarot .slats .icon {
    width: 15px; }
  .tarot .slats h3, .tarot .slats p {
    margin: 0 0 0 15px; }

.gallery {
  display: none;
  position: fixed;
  background: #000;
  overflow-y: scroll;
  top: 0px;
  left: 442px;
  width: 1024px;
  height: 728px;
  padding: 0; }
  .gallery li {
    width: 10%; }
    .gallery li h3 {
      font: 8px/1 verdana; }
