@import url(http://fonts.googleapis.com/css?family=Delius+Unicase:400,700);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: url(../img/the-binding-of-isaac-game-wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: verdana;
  color: #ffffbb;
  margin: 0;
  padding: 0;
  font-size: 62.65%;
  overflow-x: hidden; }
  body:after {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(83, 67, 54, 0.85);
    z-index: 10; }

h1, h2, h3, h4, h5, h6, nav {
  font-family: 'Delius Unicase', verdana, sans-serif; }

a {
  color: #fb0; }
  a:hover {
    color: #ff0; }

.slats {
  margin: 0;
  padding: 0; }
  .slats li {
    margin: 0;
    padding: 0.3em 0 0.3em;
    text-indent: 0;
    list-style-type: none;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    font-size: 8px; }
    .slats li h2 {
      font-size: 1.7em;
      margin: 0;
      padding: 0 .4em;
      color: #ae9683;
      text-shadow: 0 -2px 0 #000; }
    .slats li h3 {
      font-size: 1em;
      font-weight: bold;
      line-height: 1;
      margin: 0;
      padding: 0 0 2px;
      color: #fff; }
    .slats li .icon {
      width: 25px;
      float: left;
      margin: 0; }
    .slats li img {
      margin: 0 auto;
      display: block;
      max-width: 25px;
      max-height: 25px;
      max-height: 20px; }
    .slats li p {
      line-height: 1; }
    .slats li h3, .slats li p {
      margin: 0 0 0 29px; }

.activated, .main, .tarot, .trinkets, .pills, .gallery {
  float: left;
  overflow: hidden;
  position: relative; }

.activated h2, .item h2, .tarot h2, .trinkets h2, .pills h2, .gallery h2 {
  position: absolute;
  margin: 0;
  padding: 0 0 0 .5em; }
.activated ul, .item ul, .tarot ul, .trinkets ul, .pills ul, .gallery ul {
  position: relative;
  z-index: 6;
  font-size: 0; }
  .activated ul:before, .item ul:before, .tarot ul:before, .trinkets ul:before, .pills ul:before, .gallery ul:before {
    height: 18px;
    content: '';
    display: inline-block; }

.main .item {
  padding: 6px 15px 0 0; }
  .main .item ul:before {
    width: 10%; }
  .main .item li {
    width: 10%; }
.main:after {
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 1px dashed rgba(0, 0, 0, 0.35);
  height: 180px;
  content: ''; }

.activated, .trinkets, .pills {
  padding-top: 0.3em;
  width: 442px; }
  .activated ul:before, .trinkets ul:before, .pills ul:before {
    width: 25%; }
  .activated li, .trinkets li, .pills li {
    width: 25%; }

.activated, .pills {
  bottom: 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.35);
  margin-top: 0.3em; }

@-webkit-keyframes pillpoppin {
  from {
    background-position: 0 0px; }

  to {
    background-position: 0 -150px; } }

@-moz-keyframes pillpoppin {
  from {
    background-position: 0 0px; }

  to {
    background-position: 0 -150px; } }

@-o-keyframes pillpoppin {
  from {
    background-position: 0 0px; }

  to {
    background-position: 0 -150px; } }

@keyframes pillpoppin {
  from {
    background-position: 0 0px; }

  to {
    background-position: 0 -150px; } }

.pills .slats li .icon {
  background-image: url(../img/pills-sprite.png);
  height: 25px; }
.pills .slats li:nth-child(6n+1) .icon {
  -webkit-animation: pillpoppin 24s steps(6) infinite;
  -moz-animation: pillpoppin 24s steps(6) infinite;
  -o-animation: pillpoppin 24s steps(6) infinite;
  animation: pillpoppin 24s steps(6) infinite; }
.pills .slats li:nth-child(6n+2) .icon {
  -webkit-animation: pillpoppin 24s -4.1s steps(6) infinite;
  -moz-animation: pillpoppin 24s -4.1s steps(6) infinite;
  -o-animation: pillpoppin 24s -4.1s steps(6) infinite;
  animation: pillpoppin 24s -4.1s steps(6) infinite; }
.pills .slats li:nth-child(6n+3) .icon {
  -webkit-animation: pillpoppin 24s -8s steps(6) infinite;
  -moz-animation: pillpoppin 24s -8s steps(6) infinite;
  -o-animation: pillpoppin 24s -8s steps(6) infinite;
  animation: pillpoppin 24s -8s steps(6) infinite; }
.pills .slats li:nth-child(6n+4) .icon {
  -webkit-animation: pillpoppin 24s -12.1s steps(6) infinite;
  -moz-animation: pillpoppin 24s -12.1s steps(6) infinite;
  -o-animation: pillpoppin 24s -12.1s steps(6) infinite;
  animation: pillpoppin 24s -12.1s steps(6) infinite; }
.pills .slats li:nth-child(6n+5) .icon {
  -webkit-animation: pillpoppin 24s -16s steps(6) infinite;
  -moz-animation: pillpoppin 24s -16s steps(6) infinite;
  -o-animation: pillpoppin 24s -16s steps(6) infinite;
  animation: pillpoppin 24s -16s steps(6) infinite; }
.pills .slats li:nth-child(6n+6) .icon {
  -webkit-animation: pillpoppin 24s -19.8s steps(6) infinite;
  -moz-animation: pillpoppin 24s -19.8s steps(6) infinite;
  -o-animation: pillpoppin 24s -19.8s steps(6) infinite;
  animation: pillpoppin 24s -19.8s steps(6) infinite; }

.tarot {
  width: 1472px;
  width: 100%;
  border-top: 1px dashed rgba(0, 0, 0, 0.35);
  padding-top: .3em;
  margin-top: .3em; }
  .tarot ul:before {
    width: 7%; }
  .tarot li {
    width: 7%; }
  .tarot .slats .icon {
    width: 18px; }
  .tarot .slats h3, .tarot .slats p {
    margin: 0 0 0 19px; }

.main {
  width: 1472px;
  float: left; }

hr {
  border: none;
  margin: 1em 0;
  padding: 1em 0;
  clear: both;
  height: 1px; }

nav[role='main'] {
  margin: 0 0 1em;
  font-size: 1.2em;
  text-align: center; }
  nav[role='main'] h1 {
    width: 503px;
    height: 127px;
    margin: .25em 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../img/isaacs-cheatsheet-logo.png) no-repeat 50% 0; }
  nav[role='main'] li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .5em; }
    nav[role='main'] li a {
      color: #B09159;
      text-shadow: 0 3px 0 #342616, 0 2px 0 #342616, 0 1px 0 #342616;
      text-decoration: none; }
      nav[role='main'] li a:hover {
        color: #ff0; }

#modal {
  display: none;
  font: normal 2em/1.2 'Delius Unicase', verdana, sans-serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 40px #000;
  border: 2px solid #fff;
  border-radius: 1em 0 1em 1em;
  padding: .5em 2em 1em;
  position: absolute;
  z-index: 30000;
  top: 160px;
  left: 260px;
  width: 450px; }
  #modal h2 {
    margin-bottom: 0;
    font-size: .6em; }
  #modal ol {
    list-style-position: inside;
    margin-top: 0;
    padding: 0; }
  #modal li {
    margin: .5em 0 .2em; }
  #modal i {
    font-size: .6em;
    display: block;
    color: #ffffbb;
    font-style: normal; }
  #modal .close {
    margin: 0;
    padding: 0 .5em;
    position: absolute;
    top: -.65em;
    right: -.65em;
    text-align: center;
    background: #000;
    border: 2px solid white;
    border-radius: 1em;
    font: bold .5em/1.5em sans-serif;
    cursor: default;
    color: #fff; }
    #modal .close:hover {
      background: #fff;
      color: #000; }

#nag {
  font: normal 10px/1 verdana; }

.content p, .content ul {
  margin: .25em 0; }

.content {
  position: relative;
  float: right;
  width: 1000px;
  height: 720px;
  margin: 0 24px 0 0;
  border: 2px dashed rgba(255, 255, 255, 0.3);
  border-top-width: 0;
  border-radius: 0 0 2em 2em;
  z-index: 1000;
  background: url(../img/blood.png) no-repeat 50% 0;
  overflow-y: auto; }
  .content h3 {
    font-size: 1.25em;
    margin: .1em 0 0;
    color: #fff; }
  .content section[role='main'] {
    padding: 0 4em;
    overflow: hidden;
    font-size: 1.1em;
    line-height: 1.3;
    text-align: left; }
    .content section[role='main'] h2, .content section[role='main'] h3, .content section[role='main'] h4, .content section[role='main'] h5, .content section[role='main'] h6 {
      font-weight: normal;
      color: #fff;
      margin: 1.5em 0 0; }
      .content section[role='main'] h2:first-child, .content section[role='main'] h3:first-child, .content section[role='main'] h4:first-child, .content section[role='main'] h5:first-child, .content section[role='main'] h6:first-child {
        margin-top: 0; }
    .content section[role='main'] article {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      padding-bottom: 1em;
      margin-bottom: 1.5em;
      position: relative; }
      .content section[role='main'] article h2, .content section[role='main'] article h3, .content section[role='main'] article h4, .content section[role='main'] article h5, .content section[role='main'] article h6 {
        margin-top: 0; }
      .content section[role='main'] article:last-child {
        border-bottom-width: 0; }
    .content section[role='main'] .single {
      font-size: 1.25em;
      line-height: 1.5;
      margin: 1em 6em 0; }
      .content section[role='main'] .single p + p, .content section[role='main'] .single p + ul {
        margin: .75em 0; }
    .content section[role='main'] .date {
      margin-top: 0;
      color: #ae9683; }
    .content section[role='main'] .big {
      max-width: 750px;
      display: block;
      margin: 1em auto;
      box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.4); }

#posts h3 {
  margin: 0; }

#social a img {
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  margin: .25em 1em .25em 0;
  border: 1px solid #312820; }
  #social a img:hover {
    border-color: #ae9683; }
#social li {
  margin: .5em 0; }

.centered {
  text-align: center; }

.column {
  overflow: hidden;
  float: left;
  padding: 0 2em; }
  .column img {
    max-width: 100%; }
  .column ul {
    padding: 0 0 0 1.5em; }
  .column li {
    margin-bottom: .25em; }

.onehalf, .half, .two {
  width: 50%; }

.onethird {
  width: 33%; }

.twothirds {
  width: 66%; }

.onequarter {
  width: 25%; }

.threequarters {
  width: 75%; }

.fluid .content {
  height: 770px; }
.fluid .items {
  padding-top: 0px; }

#deadbird {
  height: 450px; }

.twitterSearchTitle {
  display: none; }

.twitterSearchTweet {
  padding-bottom: 1em; }

.twitterSearchUser {
  font-weight: bold; }

footer {
  margin: 1.5em 2em 0;
  padding-top: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  clear: left; }
  footer a {
    white-space: nowrap; }

#filter {
  margin: 0 0 0 .5em;
  width: 20em;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: transparent;
  color: #fff; }

table {
  margin: .75em 0;
  border-bottom: 1px solid #312820; }
  table th {
    color: #fff;
    font-family: 'Delius Unicase', verdana, sans-serif;
    font-weight: normal; }
  table th, table td {
    padding: .5em .5em;
    border-top: 1px solid #312820; }

#wrapper {
  position: relative;
  width: 1920px;
  margin: 0 auto;
  z-index: 100; }

.jt-title {
  width: 100% !important; }

.btn {
  display: block;
  text-align: center;
  margin: 1em auto;
  width: 10em;
  padding: .5em 1em;
  background: #b00;
  border: 2px solid #000;
  color: #ffffbb;
  text-shadow: 0 -2px 0 #000;
  font: bold 1em/1 'Delius Unicase', verdana, sans-serif;
  border-radius: 1em;
  box-shadow: inset 0 -3px 3px #f80, 0 5px 10px #000;
  transition: all 150ms ease-in; }
  .btn:hover {
    color: #fff;
    background: #b00;
    box-shadow: inset 0 -1px 4px #ff0, 0 3px 5px #000;
    text-shadow: 0 -1px 0 #000; }

@media all and (max-width: 1890px) {
  #wrapper {
    width: 100%; }

  .main {
    width: 75%; }
    .main .item h2 {
      display: table;
      position: relative;
      white-space: nowrap; }
    .main .item li {
      width: 140px; }
      .main .item li:first-child {
        padding-left: 0;
        width: 140px; }

  .trinkets, .activated, .pills {
    width: 25%; }
    .trinkets h2, .activated h2, .pills h2 {
      display: block;
      width: 100%;
      position: relative;
      min-width: 140px; }
    .trinkets li, .activated li, .pills li {
      width: 140px; }
      .trinkets li:first-child, .activated li:first-child, .pills li:first-child {
        padding-left: 0;
        width: 140px; }

  .pills {
    width: 100% !important; }

  .item li, .trinkets li, .activated li, .pills li, .tarot li {
    padding: 4px;
    width: 140px; } }
@media all and (max-width: 1368px) {
  .main, .trinkets, .activated, .pills, .tarot {
    width: 100%;
    float: none; }

  .content {
    margin: 0 auto;
    float: none; } }
