@import url(http://fonts.googleapis.com/css?family=Delius+Unicase:400,700);

$yellow: #ffb;
$brown: darken(rgb(77,62,50),4%);
$red: lighten(rgb(77,62,50),30%);

$divider: transparentize(#000,.65);

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  height: 100%;
  margin: 0; padding: 0;
}
body {
  background: url(../img/the-binding-of-isaac-game-wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: verdana;
  color: $yellow;
  margin: 0; padding: 0;
  font-size: 62.65%;
  overflow-x: hidden;
  &:after {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparentize(lighten($brown,6%),.15);
    z-index: 10;
  }
}

a {
  color: $red;
}

#wrapper {
  position: relative;
  width: 1920px;
  margin: 0 auto;
  z-index: 100;
}

.screenshot {
  position: absolute;
  top: 13px;
  left: 385px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Delius Unicase', verdana, sans-serif;
}


.slats {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0.3em 0 0.3em;
    text-indent: 0;
    list-style-type: none;
    // overflow: hidden;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    font-size: 8px;
    h2 {
      margin: 0;
      padding: 0 1em;
      color: $red;
    }
    h3 {
      font-size: 1em;
      font-weight: bold;
      line-height: 1;
      margin: 0;
      padding: 0 0 2px;
      color: #fff;
    }
    .icon {
      width: 25px;
      float: left;
      margin: 0 5px 0;
    }
    img {
      margin: 0 auto;
      display: block;
      max-width: 25px;
      max-height: 25px;
      max-height: 20px;
    }
    p {
      line-height: 1;
    }
    h3, p {
      margin: 0 0 0 35px;
    }
  }
}

.activated, .items, .tarot, .trinkets, .gallery {
  float: left;
  overflow: hidden;
  position: relative;
  ul {
    position: relative;
    z-index: 6;
    font-size: 0;
  }
}
.content {
  position: relative;
  float: right;
  width: 1024px;
  margin-right: -1em;
  height: 710px; //web
  border: 2px dashed rgba(255,255,255, .3);
  border-radius: 2em;
  text-align: center;
  padding-top: 6em;
  z-index: 1000;
  font-size: 11px;
  h1 {
    // font-size: 5em;
    // line-height: 1;
    // font-weight: normal;
    // color: #f10;
    // // color: #fff;
    // text-shadow: 0 0 20px #000;
    // strong {
    //   display: block;
    //   font-size: 1.85em;
    //   font-weight: normal;
    //   letter-spacing: -4px;
    // }
  }
  .instructions {
    font-family: 'Delius Unicase', verdana, sans-serif;
    font-size: 2em;
    font-weight: normal;
    color: #fff;
    h4 {
      margin-bottom: 0;
      font-size: .6em;
    }
    ol {
      list-style-position:inside; 
      margin-top: 0;   
      padding: 0;
    }
    li {
      width: 100%;
      margin: .2em;
    }
    i {
      font-size: .6em;
      display: block;
      color: $yellow;
    }
  }
  h5 {
    font-size: 1.25em;
    margin: .1em 0 0;
    color: #fff;
  }
  section {
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin: 0 2em;
    padding: 1.75em 2em 1em;
    text-align: left;
    // border: 2px dashed rgba(255,255,255, .3);
    border-radius: 2em;
    background: rgba(0,0,0,.5);
  }
  .app {
    text-align: center;
  }
  .contact {
  }
}
.fluid .content {
  height: 760px; //fluid.app
}


.items {
  width: 454px + 1018;
  float: left;
  padding: 0px 15px 0 0;
  border-right: 1px dashed $divider;
  li {
    width: 10%;
  }
}


.activated, .trinkets {
  padding-top: 0.3em;
  width: 442px;
  // text-align: center;
  li {
    width: 32%;
    // padding-top: 0.9em;
  }
}


.activated {
  bottom: 0;
  border-top: 1px dashed $divider;
  margin-top: 0.8em;
}


.tarot {
  width: 454px + 1018;
  width: 100%;
  // bottom: 0;
  border-top: 1px dashed $divider;
  padding-top: .3em;
  margin-top: .3em;
  li {
    width: 7%;
  }
  .slats {
    .icon {
      width: 15px;
    }
    h3, p {
      margin: 0 0 0 15px;
    }    
  }
}


.gallery {
  display: none;
  position: fixed;
  background: #000;
  overflow-y: scroll;
  top: 0px;
  left: 442px;
  width: 1024px;
  height: 728px;
  padding: 0;
  li {
    width: 10%;
    h3 {
      font: 8px/1 verdana;
    }
  }
}

// @media all and (max-width: 1890px) {
//   #wrapper, .activated, .items, .tarot, .trinkets, .gallery {
//     width: 100%;
//     float: none;
//     display: block;
//     position: relative;
//     top: 0;
//     left: 0;
//     border-width: 0;
//     h2 {
//       border-top: 1px dashed #800;
//       padding: 1em 0 .5em;
//       margin-top: 1em;
//       font-size: 18px;
//       display: block;
//     }
//     ul {
//       text-align: left;
//     }
//     li {
//       width: 25%;
//       font-size: 14px;
//       margin-bottom: 1em;
//       line-height: 1.4;
//       padding: 0 1em;
//       // outline: 1px solid red;
//     }
//   }
//   .items {
//     &:before {
//       width: inherit;
//       height: inherit;
//     }
//   }
//   .gallery {
//     display: none;
//   }
// }
// @media all and (max-width: 767px) {
//   #wrapper, .activated, .items, .tarot, .trinkets, .gallery { 
//     li {
//       width: 33%;
//     }
//   }
// }
// @media all and (max-width: 479px) and (min-width: 320px) {
//   #wrapper, .activated, .items, .tarot, .trinkets, .gallery { 
//     li {
//       width: 50%;
//     }
//   }
// }