@import url(http://fonts.googleapis.com/css?family=Delius+Unicase:400,700);

$yellow: #ffb;
$brown: darken(rgb(77,62,50),4%);
$ltbrown: lighten(rgb(77,62,50),35%);
$red: #f00;
$divider: transparentize(#000,.65);

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  height: 100%;
  margin: 0; padding: 0;
}
body {
  background: url(../img/the-binding-of-isaac-game-wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: verdana;
  color: $yellow;
  margin: 0; padding: 0;
  font-size: 62.65%;
  overflow-x: hidden;
  &:after {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparentize(lighten($brown,6%),.15);
    z-index: 10;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Delius Unicase', verdana, sans-serif;
}

a {
  color: $ltbrown;
}

#wrapper {
  position: relative;
  width: 1920px;
  margin: 0 auto;
  z-index: 100;
}

.screenshot {
  position: absolute;
  top: 13px;
  left: 385px;
}




.content {
  position: relative;
  float: right;
  width: 1000px;
  height: 710px; //web
  margin: 0 24px 0 0;
  border: 2px dashed rgba(255,255,255, .3);
  border-top-width: 0;
  border-radius: 0  0 2em 2em;
  text-align: center;
  z-index: 1000;
  font-size: 11px;
  background: url(../img/blood.png) no-repeat 50% 0;
  h1 {
    // width: 503px;
    height: 127px;
    margin: .75em auto 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../img/isaacs-cheatsheet-logo.png) no-repeat 50% 0;
  }
  .instructions {
    font-family: 'Delius Unicase', verdana, sans-serif;
    font-size: 2em;
    font-weight: normal;
    color: #fff;
    padding-bottom: 1em;
    h2 {
      margin-bottom: 0;
      font-size: .6em;
    }
    ol {
      list-style-position:inside; 
      margin-top: 0;   
      padding: 0;
    }
    li {
      width: 100%;
      margin: .2em;
    }
    i {
      font-size: .6em;
      display: block;
      color: $yellow;
    }
  }
  h3 {
    font-size: 1.25em;
    margin: .1em 0 0;
    color: #fff;
  }
  section {
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin: 0 2em 2em;
    padding: 1.75em 2em 1em;
    text-align: left;
    border-radius: 2em;
    background: rgba(0,0,0,.4);
  }
  .app {
    text-align: center;
  }
  .contact {
    .btn {
      display: block;
      text-align: center;
      margin: 1em auto;
      width: 10em;
      padding: .5em 1em;
      background: #b00;
      border: 2px solid #000;
      color: $yellow;
      text-shadow: 0 -2px 0 #000;
      font: bold 1em/1 'Delius Unicase', verdana, sans-serif;
      border-radius: 1em;
      box-shadow: inset 0 -3px 3px #f80, 0 5px 10px #000;
      transition: all 150ms ease-in;
      &:hover {
        color: #fff;
        background: #b00;
        box-shadow: inset 0 -1px 4px #ff0, 0 3px 5px #000;
        text-shadow: 0 -1px 0 #000;
     }
    }
  }
}




.slats {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0.3em 0 0.3em;
    text-indent: 0;
    list-style-type: none;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    font-size: 8px;
    h2 {
      font-size: 1.7em;
      margin: 0;
      padding: 0 .4em;
      color: $ltbrown;
      text-shadow: 0 -2px 0 #000;
    }
    h3 {
      font-size: 1em;
      font-weight: bold;
      line-height: 1;
      margin: 0;
      padding: 0 0 2px;
      color: #fff;
    }
    .icon {
      width: 25px;
      float: left;
      margin: 0;
    }
    img {
      margin: 0 auto;
      display: block;
      max-width: 25px;
      max-height: 25px;
      max-height: 20px;
    }
    p {
      line-height: 1;
    }
    h3, p {
      margin: 0 0 0 29px;
    }
  }
}

.activated, .main, .tarot, .trinkets, .pills, .gallery {
  float: left;
  overflow: hidden;
  position: relative;
}
.activated, .item, .tarot, .trinkets, .pills, .gallery {
  h2 {
    position: absolute;
    margin: 0;
    padding: 0 0 0 .5em;
  }
  ul {
    position: relative;
    z-index: 6;
    font-size: 0;
  }
}

.fluid { 
  // adjustments for fluid app
  .content {
    height: 760px; //fluid.app
  }
  .items {
    padding-top: 2px;
  }
}

.main {
  width: 454px + 1018;
  float: left;
  // border-right: 1px dashed $divider;

  .item {
    padding: 6px 15px 0 0;
    li {
      width: 10%;
      &:first-child {
        width: 20%;
        padding-left: 10%;
      }
    }
  }
  &:after {
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 1px dashed $divider;
    height: 180px;
    content: '';
  }
}


.activated, .trinkets, .pills {
  padding-top: 0.3em;
  width: 442px;
  li {
    width: 25%;
    &:first-child {
      width: 50%;
      padding-left: 25%;      
    }
  }
}


.activated, .pills {
  bottom: 0;
  border-top: 1px dashed $divider;
  margin-top: 0.3em;
}

@-webkit-keyframes pillpoppin {
   from { background-position:   0 0px; }
     to { background-position: 0 -150px; }
}
@-moz-keyframes pillpoppin {
   from { background-position:   0 0px; }
     to { background-position: 0 -150px; }
}
@-o-keyframes pillpoppin {
   from { background-position:   0 0px; }
     to { background-position: 0 -150px; }
}
@keyframes pillpoppin {
   from { background-position:   0 0px; }
     to { background-position: 0 -150px; }
}
.pills {
  .slats li {
    h3, p {
      // margin-left: 20px
    }
    .icon {
      background-image: url(../img/pills-sprite.png);
      height: 25px;
      // height: 20px;
      // width: 20px;
      // background-size: 20px 120px;
    }
    &:nth-child(6n+1) .icon {
      -webkit-animation: pillpoppin 24s steps(6) infinite;
      -moz-animation: pillpoppin 24s steps(6) infinite;
      -o-animation: pillpoppin 24s steps(6) infinite;
      animation: pillpoppin 24s steps(6) infinite;
    }
    &:nth-child(6n+2) .icon {
      -webkit-animation: pillpoppin 24s -4.1s steps(6) infinite;
      -moz-animation: pillpoppin 24s -4.1s steps(6) infinite;
      -o-animation: pillpoppin 24s -4.1s steps(6) infinite;
      animation: pillpoppin 24s -4.1s steps(6) infinite;
    }
    &:nth-child(6n+3) .icon {
      -webkit-animation: pillpoppin 24s -8s steps(6) infinite;
      -moz-animation: pillpoppin 24s -8s steps(6) infinite;
      -o-animation: pillpoppin 24s -8s steps(6) infinite;
      animation: pillpoppin 24s -8s steps(6) infinite;
    }
    &:nth-child(6n+4) .icon {
      -webkit-animation: pillpoppin 24s -12.1s steps(6) infinite;
      -moz-animation: pillpoppin 24s -12.1s steps(6) infinite;
      -o-animation: pillpoppin 24s -12.1s steps(6) infinite;
      animation: pillpoppin 24s -12.1s steps(6) infinite;
    }
    &:nth-child(6n+5) .icon {
      -webkit-animation: pillpoppin 24s -16s steps(6) infinite;
      -moz-animation: pillpoppin 24s -16s steps(6) infinite;
      -o-animation: pillpoppin 24s -16s steps(6) infinite;
      animation: pillpoppin 24s -16s steps(6) infinite;
    }
    &:nth-child(6n+6) .icon {
      -webkit-animation: pillpoppin 24s -19.8s steps(6) infinite;
      -moz-animation: pillpoppin 24s -19.8s steps(6) infinite;
      -o-animation: pillpoppin 24s -19.8s steps(6) infinite;
      animation: pillpoppin 24s -19.8s steps(6) infinite;
    }
  }
}

.tarot {
  width: 454px + 1018;
  width: 100%;
  border-top: 1px dashed $divider;
  padding-top: .3em;
  margin-top: .3em;
  li {
    width: 7%;
    &:first-child {
      width: 14%;
      padding-left: 7%;
    }
  }
  .slats {
    .icon {
      width: 18px;
    }
    h3, p {
      margin: 0 0 0 19px;
    }    
  }
}


.gallery {
  display: none;
  position: fixed;
  background: #000;
  overflow-y: scroll;
  top: 0px;
  left: 442px;
  width: 1024px;
  height: 728px;
  padding: 0;
  li {
    width: 10%;
    h3 {
      font: 8px/1 verdana;
    }
  }
}

// @media all and (max-width: 1890px) {
//   #wrapper, .activated, .items, .tarot, .trinkets, .gallery {
//     width: 100%;
//     float: none;
//     display: block;
//     position: relative;
//     top: 0;
//     left: 0;
//     border-width: 0;
//     h2 {
//       border-top: 1px dashed #800;
//       padding: 1em 0 .5em;
//       margin-top: 1em;
//       font-size: 18px;
//       display: block;
//     }
//     ul {
//       text-align: left;
//     }
//     li {
//       width: 25%;
//       font-size: 14px;
//       margin-bottom: 1em;
//       line-height: 1.4;
//       padding: 0 1em;
//       // outline: 1px solid red;
//     }
//   }
//   .items {
//     &:before {
//       width: inherit;
//       height: inherit;
//     }
//   }
//   .gallery {
//     display: none;
//   }
// }
// @media all and (max-width: 767px) {
//   #wrapper, .activated, .items, .tarot, .trinkets, .gallery { 
//     li {
//       width: 33%;
//     }
//   }
// }
// @media all and (max-width: 479px) and (min-width: 320px) {
//   #wrapper, .activated, .items, .tarot, .trinkets, .gallery { 
//     li {
//       width: 50%;
//     }
//   }
// }