---
layout: cheatsheet
title: Welcome
---

<div id='posts' class='twothirds column'>

<!-- <h2>Basement News</h2> -->

{% for post in paginator.posts %}

<article>

<h3>{{ post.title }}</h3>

<p class='date'>{{ post.date | date_to_string }} | <a href='{{ post.url }}'>Permalink</a></p>

{{ post.content | markdownify }}


</article>

{% endfor %}

<div id="post-pagination" class="pagination">
  News: 
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/">Newer</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">Newer</a>
      {% endif %}
  {% else %}
      <span>Newer</span>
  {% endif %}

      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="/">1</a>
      {% endif %}

    {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="/page{{ count }}">{{ count }}</a>
        {% endif %}
    {% endfor %}

  {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">Older</a>
  {% else %}
      <span>Older</span>
  {% endif %}

</div>

</div><!-- posts -->

<div id='social' class='onethird column'>
    <article>
      <h3>On Reddit</h3>
      <ul>
        <li>
          <a href='http://www.reddit.com/r/bindingofisaac/comments/1em72t/tips_for_a_relatively_new_player/' target='_blank'>Tips for a relatively new player</a>
        </li>
        <li>
            <a href="http://imgur.com/qnzARgd" target='_blank'>
                Biggest laser I've ever gotten no.2 (This time with crazy tears):<br>
                <img src="http://i.imgur.com/qnzARgd.png" title="Hosted by imgur.com">
            </a>
        </li>
        <li>
          <a href='http://www.reddit.com/r/bindingofisaac/comments/1efz5h/post_an_isaac_fact_you_think_not_many_people_are/' target='_blank'>Post an Isaac fact you think not many people are aware of</a>
        </li>
      </ul>
    </article>
</div><!-- social -->