                    </section>


                    <footer>
                        <p>Thank you <a href='//bindingofisaac.reddit.com'>reddit</a> contributors (and whoever ripped those sprites and put them on mediafire)! <a href='//bindingofisaac.com'>The Binding of Isaac created by Edmund McMillen and Florian Himsl</a>. <a href='http://dbsoundworks.bandcamp.com/album/the-binding-of-isaac-2'>Buy the soundtrack by Danny Baranowsky.</a> <a href='//edplusdanielle.bigcartel.com/'>"Buy it in the shop!"</a> <a href='//edmundm.com'>Edmund.</a> <a href='//www.formspring.me/EdmundM'>Edmund.</a> <a href='//twitter.com/EdmundMcMillenn'>Edmund.</a></p>
                    </footer>

                </div><!--.content-->
