        </div><!--#wrapper-->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/jquery.twitter.search.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-19653275-5'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
<script src="https://static-interlogyllc.netdna-ssl.com/static/feedback2.js?3.1.373" type="text/javascript">
new JotformFeedback({
formId:'31286340382249',
base:'https://secure.jotform.ca/',
windowTitle:'Contact',
background:'#FFA500',
fontColor:'#FFFFFF',
type:false,
height:380,
width:350
});
</script>
<script>

// tweets
// http://jquery.malsup.com/twitter/
$('#tweets').twitterSearch({ 
    term:   'binding of isaac', 
    // no fade 
    animOut: { opacity: 1 }, 
    avatar:  false, 
    anchors: true, 
    bird:    false, 
    // colorExterior: '#ddd', 
    // colorInterior: 'white', 
    pause:   true, 
    time:    false, 
    timeout: 3200,
    applyStyles: false
});


// check model prefs

if (localStorage.getItem("nonag")=='true') {
    $('#modal').hide();
    $("#nag input").attr('checked', true);
} else {
    $('#modal').show();
    $("#nag input").attr('checked', false);
};

// instructions modal:
// hide the window when close is clicked
$('.close').click(function(e){
    $(this).parent().fadeOut(500);
    e.preventDefault();
});
// show the window when instr is clicked
$('#instr').click(function(e){
    e.preventDefault();
    $('#modal').fadeIn(500);
    return false;
});


// remember to open/close model w/ localstorage
$("#nag input").change(function(){
    if($(this).is(":checked")) {
        console.log('checked!');
        localStorage.setItem("nonag", 'true');
    } else {
        console.log('unchecked!');
        localStorage.setItem("nonag", 'false');
    }
});
// if (Modernizr.localstorage) {
//   console.log('localstorage!');
// }

</script>
    </body>
</html>